aiofiles==0.8.0
appnope==0.1.2
backcall==0.2.0
beautifulsoup4==4.9.3
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
chardet==4.0.0
cinemagoer==2022.2.11
click==8.1.3
colored==1.4.3
cymem==2.0.6
dateparser==1.1.0
decorator==4.4.2
dict-toolbox==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
feedparser==6.0.8
GoogleNews==1.6.0
greenlet==1.1.2
idna==2.10
ipython==7.21.0
ipython-genutils==0.2.0
jarowinkler==1.0.2
jedi==0.18.0
Jinja2==3.1.2
joblib==1.1.0
langcodes==3.3.0
lazy-object-proxy==1.7.1
Levenshtein==0.18.1
lxml==4.8.0
MarkupSafe==2.1.1
msgpack==1.0.3
murmurhash==1.0.7
nest-asyncio==1.5.5
nltk==3.7
numpy==1.20.1
packaging==21.3
pandas==1.2.3
parso==0.8.1
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pop==21.0.2
pop-config==9.0.0
pop-loop==1.0.4
preshed==3.0.6
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pydantic==1.8.2
pygame==2.1.0
Pygments==2.8.1
pyparsing==3.0.9
python-dateutil==2.8.1
python-http-client==3.3.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rapidfuzz==2.0.11
regex==2022.1.18
rend==6.4.2
requests==2.25.1
sendgrid==6.6.0
sgmllib3k==1.0.0
six==1.15.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.4.36
srsly==2.4.3
starkbank-ecdsa==1.1.0
thinc==8.0.15
toml==0.10.2
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tqdm==4.64.0
traitlets==5.0.5
typer==0.4.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.4
vaderSentiment==3.3.2
wasabi==0.9.1
wcwidth==0.2.5
